<!DOCTYPE html>
<html>

<head>
</head>

<body>

<section>
    <div class="container">
        <h1 class="heading">Lets Play</h1>

        <div class="card-wrapper">
            <div class="card">

                <form action="/players" method="POST">
                    <label class="sr-only" for="username">Player</label>
                    <input type="String" name="username" id="inputUsername" placeholder="Username" required>
                    <br>
                    <label class="sr-only" for="credits">Credits</label>
                    <input type="number" name="credits" id="inputCredits" placeholder="Credits" required>
                    <br>
                    <button class="btn" type="submit">BET!</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>

</html>