<!DOCTYPE html>
<html>

<head>
</head>

<body>

<section>
    <div class="container">
        <h1 class="heading">Lets Play</h1>

        <div class="card-wrapper">
            <div class="card">

                <form action="/players" method="POST">
                    <label class="text" for="username">Player</label>
                    <input type="String" id="UserID" placeholder="Username">
                    <br>
                    <label class="text" for="credits">Credits</label>
                    <input type="String" id="credits" placeholder="Credits">
                    <br>
                    <button class="btn" type="submit">BET!</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>

</html>