<!DOCTYPE html>
<html>

<head>
    <title>Your Game Pot</title>
    <link rel="stylesheet" href="stylesAG.css">
    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- for responsive Design -->
</head>

<body>

<section>
    <div class=container">
        <h1 class="heading">Choose a Player</h1>

        <div class="card-wrapper">
            <!--form action="/players" method="POST">
                <button class="btn" type="submit">BET!</button>
            </form-->
        </div>

    </div>
</section>
<script src="scriptsHome.js" async></script>
</body>


</html>