extends layout

block layout-content
  div.View
    h1.Banner Game Pot
    div.Message
      div.Title
        h3 Making the Best
        h1 ....
      span.Details Access the GamePot Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just Bet!