extends layout

block content
    doctype html
    head
      title Your Game Pot
      link(rel='stylesheet', href='styles.css')
      link(href='https://fonts.googleapis.com/css?family=K2D', rel='stylesheet')
      script(src='scripts.js', async='')
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      // for responsive Design
    section
      .container
        .heading
          | Pot:
          t#gamePot 0
        form#Split(action='')
          // Player auswählen und Pot vergeben
          // TuDu lables
          input#radioP1(type='radio', name='player', value='1')
          |  Player 1
          br
          input#radioP2(type='radio', name='player', value='2')
          |  Player 2
          br
          input#radioP3(type='radio', name='player', value='3')
          |  Player 3
          br
          input#radioP4(type='radio', name='player', value='4')
          |  Player 4
          br
          button#splitPotB Split!
        .card-wrapper
          // alle Player in diesem Container
          #p1.card
            h1 Player 1
            p#wallet1
            form#Set1(action='')
              input#gives1(type='text', placeholder='€€€')
              button#setB1 Set
          #p2.card
            h1 Player 2
            p#wallet2
            form#Set2(action='')
              input#gives2(type='text', placeholder='€€€')
              button#setB2 Set
          #p3.card
            h1 Player 3
            p#wallet3
            form#Set3(action='')
              input#gives3(type='text', placeholder='€€€')
              button#setB3 Set
          #p4.card
            h1 Player 4
            p#wallet4
            form#Set4(action='')
              input#gives4(type='text', placeholder='€€€')
              button#setB4 Set
