<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesAG.css">
    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> 	</script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

<body>
<div class="text-center">
    <form class="form-signin" method="POST" action="/players">
        <div id="error">
			if error ?!?
		</div>
    </form>
</div>
<br>
<h1 class="h3 mb-3 font-weight-normal">Lets Bet</h1>

<div class="test">
<label class="sr-only" for="username">Player</label>
<input class="form-control" type="String" name="username" id="inputUsername" placeholder="Username" required="required" autofocus="autofocus" />
<br>
<label class="sr-only" for="credits">Credits</label>
<input class="form-control" type="int" name="credits" id="inputCredits" placeholder="Credits" required="required" />
</div>
<!--div class="checkbox mb-3">
<label>
<input type="checkbox" value="remember-me"/>
<span>Remember me</span>
</label>
</div-->
<br>
<button class="btn btn-lg btn-primary btn-block" type="submit">BET!</button>


</body>

</html>