<!DOCTYPE html>
<html>

<head>
    <title>Your Game Pot</title>
    <link rel="stylesheet"  href="stylesAG.css">
    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
    <script src="scripts.js" async></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- for responsive Design -->
</head>

<body>

<section>
    <div class="container">

        <div class="test">

            <!--form>
                <input type="text" placeholder="username" id="addID" required/>
                <button class="test btn" id="addPlayerB">addPlayer</button>
            </form>
            <br>
            <form>
                <input type="text" placeholder="username" id="removeID"/>
                <button class="test btn" id="removePlayerB">removePlayer</button>
            </form-->

            <form>
                <input type="text" placeholder="€€€" id="startingW"/>
                <button class="test btn" id="setWalletB" >setWallets!</button> <!--disabled="false"-->
            </form>
            <br>
            <!--button class="test btn" id="changeColor">changeColor</button-->

        </div>

        <div class="heading">
            <!--Pot:
            <t id="gamePot"></t-->


        </div>

            <form class = "radio" id= "Split" action="">
                <div class = "radioWrapper" id="radioW">
                    <!--div><input class="radioIn" type="radio" name="player" value = 1 id="Player1"> Player1</div-->
                </div>
                <button id="splitPotB" >Split!</button>
            </form>

        <div class="card-wrapper"> <!-- alle Player in diesem Container-->

            <!--div class="card" id="masterP">
                <h1 class="playerID">Player1</h1>
                <p id="wallet" class="wallet"> 0 </p>
                <form class="set" id= "set">
                    <input type="text" placeholder="€€€" class="sets" id="sets"/>
                    <button disabled = true class="setBtn" id="setB">Set</button>
                </form>
            </div-->
        </div>

        <div class="endBDiv">

            <form>
                <button class="endB" id="endGameB">End Game!</button>
            </form>
            <br>
            <!--button class="test btn" id="changeColor">changeColor</button-->

        </div>

    </div>
</section>

</body>
</html>